In [11]:
 # Import our SparkSession so we can use it
from pyspark.sql import SparkSession, SQLContext, functions as F
# Create our SparkSession, this can take a couple minutes locally
spark = SparkSession.builder.appName("UserJSON").config('spark.sql.broadcastTimeout',-1).getOrCreate()

from pyspark.sql.functions import col

In [2]:
df_business = spark.read.json("data/yelp_dataset/business.json")

In [3]:
df_business.printSchema()

root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: string (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: string (nullable = true)
 |    |-- BYOB: string (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: string (nullable = true)
 |    |-- BikeParking: string (nullable = true)
 |    |-- BusinessAcceptsBitcoin: string (nullable = true)
 |    |-- BusinessAcceptsCreditCards: string (nullable = true)
 |    |-- BusinessParking: string (nullable = true)
 |    |-- ByAppointmentOnly: string (nullable = true)
 |    |-- Caters: string (nullable = true)
 |    |-- CoatCheck: string (nullable = true)
 |    |-- Corkage: string (nullable = true)
 |    |-- DietaryRestrictions: string (nullable = true)
 |    |-- DogsAllowed: string (nullable = true)
 |    |-- DriveThru: string (nullable = true)
 |    |-- GoodForDancing: string (nullable = true)
 |    |-- GoodForKids: string (nullable = true)
 |    |-- GoodForMeal: string (nullable = true)
 |    |-- HairSpecializesIn: string (nullable = true)
 |    |-- HappyHour: string (nullable = true)
 |    |-- HasTV: string (nullable = true)
 |    |-- Music: string (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: string (nullable = true)
 |    |-- OutdoorSeating: string (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: string (nullable = true)
 |    |-- RestaurantsDelivery: string (nullable = true)
 |    |-- RestaurantsGoodForGroups: string (nullable = true)
 |    |-- RestaurantsPriceRange2: string (nullable = true)
 |    |-- RestaurantsReservations: string (nullable = true)
 |    |-- RestaurantsTableService: string (nullable = true)
 |    |-- RestaurantsTakeOut: string (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: string (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)

In [4]:
States_Counting = df_business.groupBy("state").count()

States_Counting.orderBy("count").show(100)

+-----+-----+
|state|count|
+-----+-----+
|  BAS|    1|
|   TN|    1|
|   NM|    1|
|  DUR|    1|
|  DOW|    1|
|   BC|    1|
|  CON|    1|
|  XGL|    1|
|   NJ|    1|
|   AR|    1|
|   UT|    1|
|   AK|    2|
|   VA|    2|
|   NE|    2|
|   VT|    2|
|   GA|    2|
|  XWY|    2|
|   CT|    3|
|   WA|    3|
|   AL|    3|
|   FL|    4|
|  XGM|    4|
|   TX|    6|
|   CA|   19|
|   NY|   22|
|   SC| 1162|
|   IL| 1932|
|   WI| 5154|
|   AB| 8012|
|   QC| 9219|
|   PA|11216|
|   OH|14697|
|   NC|14720|
|   ON|33412|
|   NV|36312|
|   AZ|56686|
+-----+-----+

In [5]:
df_business.filter(df_business.state == "GA").groupBy("city").count().show(200)

+---------+-----+
|     city|count|
+---------+-----+
| Avondale|    1|
|Las Vegas|    1|
+---------+-----+

In [6]:
df_business.filter((col("stars") >= 4) & (col("categories").like("%Japanese%")) &(col("state") == 'NV') & (col("city") == 'North Las Vegas')).groupBy("categories", "name", "stars", "hours",).count().show()

+--------------------+----------------+-----+--------------------+-----+
|          categories|            name|stars|               hours|count|
+--------------------+----------------+-----+--------------------+-----+
|Food, Restaurants...|   Poke Sushitto|  4.5|[10:30-21:30, 10:...|    1|
|Restaurants, Japa...|   Teriyaki Stop|  4.5|[11:0-21:0, 11:0-...|    1|
|Ramen, Restaurant...|      Tokyo Cafe|  4.5|[11:0-21:30, 11:0...|    1|
|Japanese, Restaur...|Teriyaki Madness|  4.0|[10:30-22:0, 10:3...|    1|
+--------------------+----------------+-----+--------------------+-----+

In [7]:
df_business.filter((col("stars") >= 4) & (col("categories").like("%American%")) &(col("state") == 'NV') & (col("city") == 'North Las Vegas')).groupBy("categories", "name", "stars", "hours",).count().show()

+--------------------+--------------------+-----+--------------------+-----+
|          categories|                name|stars|               hours|count|
+--------------------+--------------------+-----+--------------------+-----+
|Restaurants, Amer...|     In-N-Out Burger|  4.5|[10:30-1:30, 10:3...|    1|
|Restaurants, Brea...|Sunshine & Tailwi...|  4.5|[7:0-20:0, 7:0-20...|    1|
|American (Traditi...|      Victory's Cafe|  4.0|[0:0-0:0, 0:0-0:0...|    1|
|Bars, Restaurants...|Winchell's Pub & ...|  4.0|                null|    1|
|Steakhouses, Amer...|                MRKT|  4.0|[17:0-22:0, 17:0-...|    1|
|American (New), R...|     Westside Bistro|  4.5|[11:0-14:0, 11:0-...|    1|
|Restaurants, Amer...|  Maddy's Paddy Cafe|  4.5|                null|    1|
|Bars, Restaurants...|Mulligans Bar & G...|  4.0|                null|    1|
|Restaurants, Pizz...| Old School Pizzeria|  4.5|[11:0-21:0, 0:0-0...|    1|
|American (Traditi...|Jake's Filling St...|  5.0|[10:0-15:0, 10:0-...|    1|
|American (New), R...|     Carve Prime Rib|  4.5|[17:0-22:0,, 17:0...|    1|
|Sports Bars, Rest...|North Star Bar & ...|  4.0|[0:0-0:0, 0:0-0:0...|    1|
|Barbeque, Chicken...|     Texas Roadhouse|  5.0|                null|    1|
|Salad, Restaurant...|The Habit Burger ...|  4.0|[10:30-23:0, 0:0-...|    1|
|Tacos, Mexican, F...|     Pollos Culiacan|  5.0|[10:0-20:30, 10:0...|    1|
|Sandwiches, Burge...| Greens and Proteins|  4.0|[9:0-19:0, 9:30-1...|    1|
|American (Traditi...|Raising Cane's Ch...|  4.0|[9:0-0:0, 9:0-0:0...|    1|
|American (Traditi...|Surf City Bar and...|  4.0|[0:0-0:0, 0:0-0:0...|    1|
|Mexican, Restaura...|Red Tortilla Mexi...|  4.0|[9:0-21:0, 9:0-21...|    1|
|Bars, American (T...| Rancher Bar & Grill|  4.5|                null|    1|
+--------------------+--------------------+-----+--------------------+-----+

In [10]:
df_business.filter((col("stars") >= 4) & (col("categories").like("%Mexican%")) &(col("state") == 'NV') & (col("city") == 'North Las Vegas')).groupBy("categories", "name", "stars", "hours",).count().show()

+--------------------+--------------------+-----+--------------------+-----+
|          categories|                name|stars|               hours|count|
+--------------------+--------------------+-----+--------------------+-----+
|Restaurants, Mexican|    Tacos El Tapatio|  4.0|[9:0-22:0, 9:0-22...|    1|
|Mexican, Restaura...|Mariscos Aguachil...|  4.0|[9:0-22:0, 9:0-22...|    1|
|Mexican, Restaura...|Viva Zapatas Mexi...|  4.0|[10:0-22:0, 10:0-...|    1|
|Tacos, Salad, Bre...|Chicago Style Tac...|  4.5|[10:0-22:0, 10:0-...|    1|
|Ice Cream & Froze...|Paletas Y Helados...|  5.0|                null|    1|
|Mexican, Restaura...|      Tacos El Gordo|  4.0|[10:0-4:0, 10:0-2...|    1|
|Mexican, Restaura...|     La Mojarra Loca|  4.0|[9:0-21:0, 9:0-21...|    1|
|Restaurants, Spec...|La Familia Authen...|  4.0|[10:0-21:0,, 9:0-...|    1|
|Event Planning & ...| Antojitos D F Y Mas|  4.5|[9:0-21:0, 9:0-21...|    1|
|Mexican, Restaurants|               ASADA|  4.0|[10:0-21:0, 10:0-...|    1|
|Mexican, Restaurants|Tony's Mexican Fo...|  4.0|[8:0-21:0, 8:0-21...|    1|
|Food, Restaurants...| Los Portales Bakery|  4.0|[6:0-20:0, 6:0-20...|    1|
|Mexican, Restaurants|         El Menudazo|  4.0|[7:0-20:0, 7:0-16...|    1|
|Food Stands, Even...|              LVTACO|  5.0|[9:0-17:0, 9:0-17...|    1|
|Mexican, Restaurants|      El Jalisquillo|  4.5|                null|    1|
|Mexican, Restaurants|          El Cazador|  4.0|                null|    1|
|Restaurants, Chin...|Machetes Mexican ...|  4.0|[9:0-23:0, 9:0-22...|    1|
|Tacos, Mexican, F...|     Pollos Culiacan|  5.0|[10:0-20:30, 10:0...|    1|
|Food Trucks, Farm...|    La Cocina Torres|  5.0|    [, 0:0-0:0,,,,,]|    1|
|Fast Food, Restau...| Roberto's Taco Shop|  4.0|                null|    1|
+--------------------+--------------------+-----+--------------------+-----+
only showing top 20 rows