In [1]:
# Import our SparkSession so we can use it
from pyspark.sql import SparkSession, SQLContext, functions as F
from pyspark.sql.functions import col

# Create our SparkSession, this can take a couple minutes locally
spark = SparkSession.builder.appName("Business_JSON").config('spark.sql.broadcastTimeout',-1).getOrCreate()

In [2]:
df_business = spark.read.json("../data_source/business.json")

In [3]:
df_business.printSchema()

root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: string (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: string (nullable = true)
 |    |-- BYOB: string (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: string (nullable = true)
 |    |-- BikeParking: string (nullable = true)
 |    |-- BusinessAcceptsBitcoin: string (nullable = true)
 |    |-- BusinessAcceptsCreditCards: string (nullable = true)
 |    |-- BusinessParking: string (nullable = true)
 |    |-- ByAppointmentOnly: string (nullable = true)
 |    |-- Caters: string (nullable = true)
 |    |-- CoatCheck: string (nullable = true)
 |    |-- Corkage: string (nullable = true)
 |    |-- DietaryRestrictions: string (nullable = true)
 |    |-- DogsAllowed: string (nullable = true)
 |    |-- DriveThru: string (nullable = true)
 |    |-- GoodForDancing: string (nullable = true)
 |    |-- GoodForKids: string (nullable = true)
 |    |-- GoodForMeal: string (nullable = true)
 |    |-- HairSpecializesIn: string (nullable = true)
 |    |-- HappyHour: string (nullable = true)
 |    |-- HasTV: string (nullable = true)
 |    |-- Music: string (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: string (nullable = true)
 |    |-- OutdoorSeating: string (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: string (nullable = true)
 |    |-- RestaurantsDelivery: string (nullable = true)
 |    |-- RestaurantsGoodForGroups: string (nullable = true)
 |    |-- RestaurantsPriceRange2: string (nullable = true)
 |    |-- RestaurantsReservations: string (nullable = true)
 |    |-- RestaurantsTableService: string (nullable = true)
 |    |-- RestaurantsTakeOut: string (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: string (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)

In [9]:
df_business.filter(col('state') == "NV").groupBy("city").count().show()

+--------------------+-----+
|                city|count|
+--------------------+-----+
|     North Las Vegas| 1547|
|         C Las Vegas|    1|
|     South Las Vegas|    4|
|           Hnederson|    1|
|            Paradise|   24|
|            La Vegas|    2|
|              Nellis|    1|
|         N Las Vegas|   26|
|    Las Vegas Nevada|    1|
|               Vegas|    1|
|         City Center|    1|
|          Las Vegas |    4|
|          Las Vergas|    1|
|         W Henderson|    1|
|      Las Vegas East|    1|
|       Las Vegas, NV|    2|
|           Las vegas|   14|
|            LasVegas|    2|
|          Nellis AFB|   16|
|Henderson (Green ...|    1|
+--------------------+-----+
only showing top 20 rows

In [7]:
df_business.groupBy("state").count().show()

+-----+-----+
|state|count|
+-----+-----+
|   AZ|56686|
|   SC| 1162|
|  BAS|    1|
|   NJ|    1|
|   VA|    2|
|   QC| 9219|
|   BC|    1|
|   NV|36312|
|   WI| 5154|
|   CA|   19|
|   NE|    2|
|   CT|    3|
|   NC|14720|
|   VT|    2|
|   IL| 1932|
|  XGL|    1|
|   WA|    3|
|   AL|    3|
|  XGM|    4|
|   OH|14697|
+-----+-----+
only showing top 20 rows